// ----------------------------
// main and footer content
// ----------------------------

#main-content, #footer-content
{
	margin-left:10px;
	margin-right:10px;
}

// ----------------------------
// main content
// ----------------------------
div#main-content
{	    
	
	// correct for the relatively placed hgroup
	position:relative;
	bottom:@hgroupHeight;

	// prevent top spacing for the first section header of the article
	article
	{
		:first-child
		{
			margin-top:0;
			padding-top:0;
		}
	}


	section
	{		
		div.media
		{
			margin-top:15px;
		}
		hgroup
		{
			padding-bottom:20px;
		}
	}
}

// ----------------------------
// footer content
// ----------------------------
div#footer-content
{
	// so that the subnav works for the bottom-most content
	height:400px;	
}