<?xml version="1.0"?>

<configuration>
  <system.web>    
    <compilation debug="false" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
      <!--IIS 8.0 already has the .ogv / .webm / .mp4 mimeMaps. 
          Adding them hear leads too a 500.19 server error.-->
    </staticContent>
    <defaultDocument>
      <files>
        <clear />
        <add value="pages/default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp configSource="Smtp.config" />
    </mailSettings>
  </system.net>
</configuration>
