<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>    
    <compilation debug="false" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
      <!--IIS 8.0 already has the .ogv / .webm / .mp4 mimeMaps. 
          Adding them hear leads too a 500.19 server error.-->
    </staticContent>
    <defaultDocument>
      <files>
        <clear />
        <add value="pages/default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="metaltiger50@live.ca">
        <network host="smtp.sendgrid.net" password="mbt2btbu" userName="azure_50259efdfec53238209bbceeee53b975@azure.com" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
